In [1]:
from pymongo import MongoClient

# MongoDB 인스턴스에 연결
# client = MongoClient('mongodb://localhost:27017/') # 테스트 할때는 아이디 비번 안넣음
client = MongoClient('mongodb://likelion:1234@hanslab.org:27117/')

# 데이터베이스 선택 (없으면 새로 생성됨)
db = client['tutorial_db_prg']

# 컬렉션 선택 (없으면 새로 생성됨)
collection = db['tutorial_collection']

client.list_database_names()

# 새 문서 생성 및 삽입
document = {"name": "Im Ryong", "age": 20, "city": "Seoul"}
collection.insert_one(document)

# 모든 문서 조회
for doc in collection.find():
    print(doc)

{'_id': ObjectId('660371f847c2b241571f0576'), 'name': 'John Doe', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('660373bd6de16c78b1d72c2f'), 'name': 'John Doe', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('660373d20a54daa252476c0c'), 'name': 'John Doe', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('66037420f8e367abd24dc761'), 'name': 'John Doe', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('66037485308079f7709293c7'), 'name': 'Im Ryong', 'age': 20, 'city': 'Seoul'}

In [5]:
document = {"name": "Sam", "age": 2000000000000, "city": "Japan"}
collection.insert_one(document)

# 모든 문서 조회
for doc in collection.find():
    print(doc)

{'_id': ObjectId('660371f847c2b241571f0576'), 'name': 'John Doe', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('660373bd6de16c78b1d72c2f'), 'name': 'John Doe', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('660373d20a54daa252476c0c'), 'name': 'John Doe', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('66037420f8e367abd24dc761'), 'name': 'John Doe', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('66037485308079f7709293c7'), 'name': 'Im Ryong', 'age': 20, 'city': 'Seoul'}
{'_id': ObjectId('660374b9308079f7709293c8'), 'name': 'OpenAi', 'age': 100, 'city': 'America'}
{'_id': ObjectId('660374e4308079f7709293c9'), 'name': 'Obama', 'age': 200, 'city': 'LA'}
{'_id': ObjectId('660374f2308079f7709293ca'), 'name': 'James', 'age': 200000, 'city': 'HW'}
{'_id': ObjectId('66037509308079f7709293cb'), 'name': 'Sam', 'age': 2000000000000, 'city': 'Japan'}

In [7]:
# 문서 업데이트
collection.update_one(
    {"name":"John Doe"}, # 조건
    {"$set": {"age": 35}} # 변경할 내용 $몽고DB문법
)
for doc in collection.find():
    print(doc)

{'_id': ObjectId('660371f847c2b241571f0576'), 'name': 'John Doe', 'age': 35, 'city': 'New York'}
{'_id': ObjectId('660373bd6de16c78b1d72c2f'), 'name': 'John Doe', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('660373d20a54daa252476c0c'), 'name': 'John Doe', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('66037420f8e367abd24dc761'), 'name': 'John Doe', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('66037485308079f7709293c7'), 'name': 'Im Ryong', 'age': 20, 'city': 'Seoul'}
{'_id': ObjectId('660374b9308079f7709293c8'), 'name': 'OpenAi', 'age': 100, 'city': 'America'}
{'_id': ObjectId('660374e4308079f7709293c9'), 'name': 'Obama', 'age': 200, 'city': 'LA'}
{'_id': ObjectId('660374f2308079f7709293ca'), 'name': 'James', 'age': 200000, 'city': 'HW'}
{'_id': ObjectId('66037509308079f7709293cb'), 'name': 'Sam', 'age': 2000000000000, 'city': 'Japan'}

In [9]:
for doc in collection.find():
    print(doc)

{'_id': ObjectId('660373bd6de16c78b1d72c2f'), 'name': 'John Doe', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('660373d20a54daa252476c0c'), 'name': 'John Doe', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('66037420f8e367abd24dc761'), 'name': 'John Doe', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('66037485308079f7709293c7'), 'name': 'Im Ryong', 'age': 20, 'city': 'Seoul'}
{'_id': ObjectId('660374b9308079f7709293c8'), 'name': 'OpenAi', 'age': 100, 'city': 'America'}
{'_id': ObjectId('660374e4308079f7709293c9'), 'name': 'Obama', 'age': 200, 'city': 'LA'}
{'_id': ObjectId('660374f2308079f7709293ca'), 'name': 'James', 'age': 200000, 'city': 'HW'}
{'_id': ObjectId('66037509308079f7709293cb'), 'name': 'Sam', 'age': 2000000000000, 'city': 'Japan'}

In [8]:
# 문서 삭제 
collection.delete_one({"name":"John Doe"})

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

In [13]:
document = {"name":"PrinS",'age':14,'city':"busan"}
collection.insert_one(document)

for doc in collection.find():
    print(doc)

{'_id': ObjectId('660373bd6de16c78b1d72c2f'), 'name': 'John Doe', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('660373d20a54daa252476c0c'), 'name': 'John Doe', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('66037420f8e367abd24dc761'), 'name': 'John Doe', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('66037485308079f7709293c7'), 'name': 'Im Ryong', 'age': 20, 'city': 'Seoul'}
{'_id': ObjectId('660374b9308079f7709293c8'), 'name': 'OpenAi', 'age': 100, 'city': 'America'}
{'_id': ObjectId('660374e4308079f7709293c9'), 'name': 'Obama', 'age': 200, 'city': 'LA'}
{'_id': ObjectId('660374f2308079f7709293ca'), 'name': 'James', 'age': 200000, 'city': 'HW'}
{'_id': ObjectId('66037509308079f7709293cb'), 'name': 'Sam', 'age': 2000000000000, 'city': 'Japan'}
{'_id': ObjectId('6603798b308079f7709293cc'), 'name': 'PrinS', 'age': 14, 'city': 'busan'}
{'_id': ObjectId('66037992308079f7709293cd'), 'name': 'PrinS', 'age': 14, 'city': 'busan'}
{'_id': ObjectId('6603799a308079f7709293ce'), 'name': 'PrinS', 'age': 14, 'city': 'busan'}
{'_id': ObjectId('660379a3308079f7709293cf'), 'name': 'PrinS', 'age': 14, 'city': 'busan'}

In [15]:
collection.update_one(
    {"name":"John Doe",},
    {"$set":{"city":"incheon"}}
)

for doc in collection.find():
    print(doc)

{'_id': ObjectId('660373bd6de16c78b1d72c2f'), 'name': 'John Doe', 'age': 30, 'city': 'incheon'}
{'_id': ObjectId('660373d20a54daa252476c0c'), 'name': 'John Doe', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('66037420f8e367abd24dc761'), 'name': 'John Doe', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('66037485308079f7709293c7'), 'name': 'Im Ryong', 'age': 20, 'city': 'Seoul'}
{'_id': ObjectId('660374b9308079f7709293c8'), 'name': 'OpenAi', 'age': 100, 'city': 'America'}
{'_id': ObjectId('660374e4308079f7709293c9'), 'name': 'Obama', 'age': 200, 'city': 'LA'}
{'_id': ObjectId('660374f2308079f7709293ca'), 'name': 'James', 'age': 200000, 'city': 'HW'}
{'_id': ObjectId('66037509308079f7709293cb'), 'name': 'Sam', 'age': 2000000000000, 'city': 'Japan'}
{'_id': ObjectId('6603798b308079f7709293cc'), 'name': 'PrinS', 'age': 14, 'city': 'busan'}
{'_id': ObjectId('66037992308079f7709293cd'), 'name': 'PrinS', 'age': 14, 'city': 'busan'}
{'_id': ObjectId('6603799a308079f7709293ce'), 'name': 'PrinS', 'age': 14, 'city': 'busan'}
{'_id': ObjectId('660379a3308079f7709293cf'), 'name': 'PrinS', 'age': 14, 'city': 'busan'}